.community-container{
    margin-top: 100px;
}

.community-question-title-layout{
    display: flex;
    justify-content: space-between;
}

.community-question-title-info{
    display: flex;
    justify-content: space-between;
}